{% extends 'frontend_base.html' %}
{% block title %}{{ poll.title }}{% endblock %}
{% block content %}
    <h3><a href="{% url index:frontend:index  %}">Начало</a> → <a href="{% url arbicon_polls:frontend:index  %}">Голосования</a>
        → {{ poll.title }}</h3>
    <hr/>
    <div class="alert alert-success">
        {% if user_is_voted %}Вы уже отдали голос в этом голосовании {% endif %}

        {% if  not poll.show_results %} Результаты будут доступны после окончания голосования {% endif %}
        {% if poll.show_results and not poll.is_active %} Голосование закончено {% endif %}
        . Спасибо.
    </div>

    {% if poll.show_results %}
        <h3>Результаты голосования:</h3>
        <ul style="list-style: none; margin: 0; padding: 0">
            {% for choice in choices %}
                <li><b>{{ choice }}</b> (голосов: {{ choice.votes }} - {{ choice.percent }}% )
                    <div class="progress progress-success progress-striped" style="margin-bottom: 9px;">
                        <div class="bar" style="width: {{ choice.percent }}%"></div>
                    </div>
                </li>
            {% empty %}
                <h4>Вариантов нет</h4>
            {% endfor %}
        </ul>
    {% endif %}
    {% if  user_is_voted and not poll.show_results %}
        <h3>Варианты ответов:</h3>
        <ul>
            {% for choice in choices %}
                <li>{{ choice }}</li>
            {% empty %}
                Вариантов нет.
            {% endfor %}
        </ul>
    {% endif  %}
    {% if  not user_is_voted and not poll.show_results and not poll.is_active %}
        <h3>Варианты ответов:</h3>
        <ul>
            {% for choice in choices %}
                <li>{{ choice }}</li>
            {% empty %}
                Вариантов нет.
            {% endfor %}
        </ul>
    {% endif  %}
    {% if not user_is_voted and poll.is_active %}
        <form action="" method="POST"> {% csrf_token %}
            {% include 'frontend/base_form_fields.html' %}
            <input type="submit" class="btn btn-success" value="Отдать голос"/>
        </form>
    {% endif %}

{% endblock %}