{% extends 'frontend_base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Login' %}
{% endblock %}
{% block content %}
    <p>
        Для входа в Обсуждения Вы должны быть зарегистрированны на сайте <a href="http://arbicon.ru" class="">Арбикон</a>.
    </p>
    {{ request.user.username }}
    <form method="POST" class="form-horizontal">{% csrf_token %}
        <fieldset>
            {% include 'frontend/base_form_fields.html' %}
            <div class="form-actions">
                <input type="submit" value="Войти" class="btn"/>
            </div>
        </fieldset>
    </form>
    <p>Если у Вас возникли проблемы с авторизацией или Вы потеряли пароль, то Вам необходимо обратиться в службу поддержки ИС АРБИКОН к Усманову Рустаму Тимуровичу <a href="mailto:rustam@arbicon.ru">rustam@arbicon.ru</a>. Тел. 8(812)5523759 доб. 711.</p>
{% endblock %}