{% extends 'frontend_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Forums list' %}{% endblock %}
{% block content %}
    <style>
        form input {
            width: 100%;
        }
    </style>
    <h3>Документы для ознакомления</h3>
    <ol>
        <li><a href="http://arbicon.ru/download/pdf/code.pdf">Устав</a></li>
        <li><a href="http://arbicon.ru/download/msword/arbicon2012-2022.doc">План развития</a></li>
    </ol>
    <h3>Календарь событий </h3>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>События</th>
            <th>Даты</th>
        </tr>
        <tr>
            <td>1. Назначение организациями доверенных лиц для участия в  голосовании по пунктам Повестки дня от лица организации – члена  АРБИКОН. Передача доверенностей от лица организаций на доверенных лиц в  исполнительную дирекцию АРБИКОН в виде .pdf документа по электронной  почте&nbsp; (<a>Оруджовой Аиде</a>) и получение <span style="color: rgb(255, 0, 0);">специального пароля</span> для участия в электронном голосовании</td>
            <td><span style="color: rgb(51, 102, 255);"><strong>18 апреля – 25 мая</strong></span></td>
        </tr>
        <tr>
            <td>2. Получение/восстановление авторизационных данных для  организаций-членов АРБИКОН для участия в форумах для обсуждения вопросов  Повестки дня Общего Собрания (<a>Усманов Рустам</a> rustam@arbicon.ru )</td>
            <td><strong><span style="color: rgb(51, 102, 255);">18 апреля – 2 мая</span></strong></td>
        </tr>
        <tr>
            <td>3. Обсуждение по пунктам Повестки Общего Собрания в <a href="http://talk.arbicon.ru/forum/">форумах</a>.</td>
            <td><span style="color: rgb(51, 102, 255);"><strong>18 апреля - 3 мая</strong></span></td>
        </tr>
        <tr>
            <td>4. Внести предложений по изменению/дополнению&nbsp; Повестки</td>
            <td><span style="color: rgb(51, 102, 255);"><strong>18 апреля - 27 апреля</strong></span></td>
        </tr>
        <tr>
            <td><span style="color: rgb(255, 0, 0);"><strong>5. Голосование по Повестке дня</strong></span></td>
            <td><strong><span style="color: rgb(255, 0, 0);">21 мая 12.00 - 28 мая 12.00 (время Московское)</span></strong></td>
        </tr>
        <tr>
            <td>6. Подведение итогов голосования и их опубликование в срок до</td>
            <td><strong><span style="color: rgb(51, 102, 255);">30 мая 12.00</span></strong></td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <h3>Форумы</h3>
    <hr/>
    <div class="forums span12">
        {% for forum in forums %}
            <div class="row" style="margin-bottom: 10px">
                <span class="subject"><a href="{% url forum:frontend:topics forum.slug %}">{{ forum.title }}</a></span>
                <span style="float: right;">
                    {% if request.user.is_superuser %}
                        <a class="btn btn-small btn-warning" href="{% url forum:frontend:forum_permissions forum.id %}" title="{% trans 'Edit permissions' %}"><i class="icon-lock"></i></a>
                    {% endif %}
                    {% if perms.forum.delete_forum %}
                        <a class="delete btn btn-small btn-danger" href="{% url forum:frontend:forum_delete forum.id %}" title="{% trans 'Delete forum' %}"><i class="icon-trash icon-white"></i></a>
                    {% endif %}
                </span>
                <p class="help-block">{{ forum.description|safe }}</p>
            </div>
        {% endfor %}
        <div class="row">
            <hr/>
            <h3> Последние сообщения</h3>
            <ul style="margin: 0; padding: 0; list-style: none">
            {% for last_article in last_articles %}
                <li><span style="font-weight: bold; padding-right: 20px">{{ last_article.article.created|date:"d.m.Y H:i T" }}</span> {% if not last_article.article.public %}<span style="color: red">Не опубликовано</span>{% endif %} <a href="{% url forum:frontend:articles last_article.forum.slug last_article.topic.id %}?page=last" title="{{ last_article.forum.title }} → {{ last_article.topic.subject}}">{{ last_article.forum.title|truncatechars:20 }} → {{ last_article.topic.subject|truncatewords:3|truncatechars:43 }} → {{ last_article.article.text|truncatewords:5|truncatechars:43 }}</a>  </li>
            {% endfor %}
            </ul>
            <hr/>
        </div>
        <div class="row">


</div>
        {% if perms.forum.add_forum %}
            <div class="row well">
                <form method="POST">{% csrf_token %}<a name="form">&nbsp;</a>
                    <legend>{% trans 'Create forum' %}</legend>
                    <fieldset>
                        {% include 'frontend/base_form_fields.html' with form=form %}
                        <div class="form-actions">
                            <button type="submit" class="btn">{% trans "Create forum" %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $("a.delete").click(function(){
            if(!confirm('Вы уверены что хотите удалить?')) return false;
        });
    </script>

{% endblock %}